body {
	font-family: 'Raleway', sans-serif;
}
nav {
	background: #F6F7F9;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	top: 0;
	left: 0;
	position: absolute;
}
nav a {
	text-decoration: none;
	color: #241F1F;
	text-transform: uppercase;
	font-weight: 700;
}
nav a:hover {
	font-weight: 900;
}
ul{
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	width: 40%;
	flex-wrap: wrap;
}
.logo {
	font-size: 30px;
	font-weight: bold;
	padding-top: 7px;
}
.container {
	background: url("assets/image-1.jpg") no-repeat;
	width: 100%;
	left: 0;
	position: absolute;
	height: 60vw;
	background-size: 100%;
	margin-top: 40px;
}
#selected {
	font-weight: 900;
}
#item {
	background-color: rgba(253, 252, 252, 0.9);
	height: 41%;
	width: 62%;
	margin: 14% auto;
}
#item h4 {
	text-transform: uppercase;
	text-align: center;
	font-size: 3vw;
	padding-top: 6vw;
	margin-bottom: 0;
}
#item p {
	text-align: center;
	margin-top: 0;
	padding-left: 6vw;
	padding-right: 6vw;
	font-size: 1.5vw;
}
@media (max-width: 990px) {
	nav {
		flex-direction: column;
		align-items: center;
	}
	ul {
		flex-direction: column;
		align-items: center;
		padding-left: 0;
	}
	.container{
		margin-top: 150px;
	}
}

